.container
  %div{ "ng-controller" => "StoryController as story" }
    .row
      %div(ng-repeat="story in story.items")
        %h5
          {{ story.headline }}
        %p
          .byline
            {{ story.author }} - {{ story.created_at | date : 'medium' }}
          {{ story.body }}
